<body style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr; grid-gap: 20px">
  <div style="box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); display:flex; flex-direction: column ; align-items: center ; justify-content: center; height: 20em">
      <h3>{{.MessageId}}</h3>
      {{.Message}}
      Readed : {{.IsRead}}
      <a href=http://localhost:8081/mail/message/{{.MessageId}}>Go to description of message</a>
      <a href=http://localhost:8081/mail/got-emails/{{.To}}>Go to all messages of current message's recipient</a>
  </div>
</body>